@function getExtensionAssetsPath($asset){
@return '../extensions/CloudAlp/PromoLimit/1.0.0/' + $asset;
}

@function getThemeAssetsPath($asset){
@return '../extensions/CloudAlp/Gozney/3.3.0/' + $asset;
}

/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.promolimit-info-card {
    @extend .info-card;
}

.promolimit-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}