/**.item-relations-cell {
    text-align: center;
    width: 350px!important;

    @media(min-width: 1439px){

        width: 363px !important;
    }

    @media(min-width: 1023px) and (max-width: 1439px){

        width: 327px !important;
    }
   
}**/