.manuscript-content{
	@extend .container;
	h1{
		text-align:center;
		margin:$sc-margin-lv4 0;
	}
	.manuscript-faq{
		padding-bottom:$sc-padding-lv8;
		border-bottom:2px solid #d0d0d0;
		h4{
			font-family: "Candara", sans-serif;
			margin-top:$sc-margin-lv6;
		}
		p{
			margin-top:$sc-margin-lv1;
			a{
				text-decoration:underline;
				&:hover{text-decoration:none;}
			}
		}
	}
	.manuscript-questions{
		margin: $sc-margin-lv8 0 10% 0;
		h2{text-align:center;}
		p{
			text-align:center;
			margin-top:$sc-margin-lv3;
			a{
				text-decoration:underline;
				&:hover{text-decoration:none;}
			}
		}
	}
}