/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

#kdtermsofusemodal-modal .modal-body {
	overflow-y: auto;
}

#kdtermsofusemodal-modal p {
	margin-bottom: 10px;
}

#kdtermsofusemodal-modal h2 {
	margin-bottom: 10px;

	&:not(:first-child) {
		margin-top: 20px;
	}
}

#kdtermsofusemodal-modal h3 {
	text-transform: none;
	margin-top: 20px;
	margin-bottom: 10px;
	letter-spacing: normal;
}

#kdtermsofusemodal-modal hr {
	margin: 15px 0;
}