.facets-item-cell-list {
	@extend .row;
	@extend .item-cell;
	.on_sale_banner{
		margin-top:0;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.new_badge_banner{
		margin-top:0;
		position: absolute;
		top:3px;
		right:0;
	//	background-color: #00a7e5;
		font-family: Verdana;
		font-weight:  Bold;
		font-size: 13px;
		img {
			max-height: 45px;
		}
	}
	.cart-add-to-cart-button-container {
		padding-left:0px;
	}

	.cart-quickaddtocart-price {
		margin-bottom:$sc-margin-lv2;
	}
	.facets-item-cell-list-image-section{
		position:relative;
		.product-details-image-gallery-brand{
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;
		}
	}
	.product-line-stock {
		clear:both;
	}
	.product-views-price-lead{
		font-family:$sc-font-family-verdana;
		font-size:12px;
		font-weight: normal;
		color:$sc-color-secondary;
	}
	.cart-quickaddtocart-price{display:none;}
	.add-to-list{display:inline-block;}
	.product-list-control-flyout{max-width:300px;}
	.product-list-control-button-wishlist{
		font-size:13px;
		padding-left: $sc-padding-lv3;
		padding-right: $sc-padding-lv2;
		line-height:normal;
		background: url(getThemeAssetsPath('img/common.gif')) no-repeat -582px -335px;
	}
	.cart-btn{
		display:inline-block;
		.cart-add-to-cart-button-container{
			width: 100%;
			float: none;
			padding: 0;
		}
		.cart-add-to-cart-button-button{
		@extend .button-secondary;
		padding:0 $sc-padding-lv3;
		font-size:11px;
		line-height:27px;
		font-family: "Tahoma", sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		max-width:113px;
		white-space: nowrap;
		margin:0;
		}
	}	
}

.facets-item-cell-list-quick-view-wrapper {
	@extend .item-cell-quick-view-wrapper;
}

.facets-item-cell-list-quick-view-link {
	@extend .item-cell-quick-view-link;
}

.facets-item-cell-list-left {
	@extend .col-xs-3;
}

.facets-item-cell-list-right {
	@extend .col-xs-9;

	.item-views-price {
		text-align:left;
	}
}

.facets-item-cell-list-image-wrapper {
	position:relative;
	text-align:center;
}

.facets-item-cell-list-stock-message {
	text-align:left;
}

.facets-item-cell-list-details {
	text-align:center;
}

.facets-item-cell-list-image {
	width:100%;
	height:auto;
}

.facets-item-cell-list-title {
	@extend .item-cell-title;
	font-family:$sc-font-family-verdana;
	color:$sc-color-secondary;
	text-align:left;
	line-height: normal;
	&:hover{text-decoration:underline;}
}

.facets-item-cell-list-price {
	@extend .small-price;
	margin-bottom:$sc-margin-lv2;
}

.facets-item-cell-list-rating {
	text-align:center;
	display: inline-block;
}


.facets-item-cell-list {
	.global-views-star-rating-area {
		margin-bottom:$sc-margin-lv2;
	}
}