/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

/* custom css */


.download_btn{
	@extend .button-primary;
	  @extend .button-medium;
	  width:auto;
	height: 45px;
	text-transform: capitalize;
  }