// Typography colors
$sc-color-h1: #294684; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h2: #294684; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h3: #666; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h4: #294684; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h5: #555; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h6: $sc-color-secondary; /* editable({"type": "color", "label": "Color"}) */
$sc-color-paragraph: #555;
$sc-color-blockquote: $sc-color-copy-light;
