.quickorder-accesspoints-headerlink-link {
  display: inline;
  color: $sc-color-secondary;
}

.header-main-nav .header-content .header-right-menu ul li.background-header-order:first-child a {
  color: black !important;
  position: relative;
  bottom: 3px;
}
