/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.requestaninvoice-info-card {
    @extend .info-card;
}

.requestaninvoice-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}

.find-invoice-label {
	margin-top: 0;
}
.find-invoice-form-submit {
	@extend .button-primary;
	@extend .button-large;
}

.find-invoice {
	padding-top: $sc-padding-lv4;
  }
.find-invoice a {
	color: #007bff;

}
.find-invoice a:hover {
	color: #007bff;
	text-decoration: underline;
}
  .find-invoice-form {
	width: 100%;
	margin-bottom: 50px;
  }
  
  .find-invoice-form-group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: $sc-padding-lv4 0;
	label {
		padding-right: 20px;
	  	flex-basis: 30%;
	}
	.find-invoice-form-container {
	  flex-basis: 70%;
	}
  }
  @media (min-width: $screen-tablet) {
	.find-invoice-form-container {
		width: 50%;
	}
	.find-invoice-form-group {
		width: 50%;
	}
  }
  .find-invoice-form-submit {
	@extend .button-primary;
	@extend .button-medium;
  }
  .found-invoice-results {
	width: (100% * (2/3));
  }
  .found-invoice-results-title {
	clear: both;
  }
  .found-invoice-results-labels {
	display: flex;
	padding-top: $sc-padding-lv2;
  }
  .found-invoice-results-labels-po {
	flex-basis: (100%/3);
	font-weight:bold;
  }
  .found-invoice-results-labels-zip {
	@extend .found-invoice-results-labels-po;
  }
  .found-invoice-results-labels-actions {
	@extend .found-invoice-results-labels-po;
  }
  .found-invoice-results-row {
	@extend .found-invoice-results-labels;
  }
  .found-invoice-results-row-po {
	flex-basis: (100%/3);
  }
  .found-invoice-results-row-zip {
	@extend .found-invoice-results-row-po;
  }
  .found-invoice-results-row-print, .found-invoice-results-row-email {
	flex-basis: (100%/6);
  }
  .found-invoice-email-button-container {
	width: 100%;
	padding-right: $sc-padding-lv1;
  }
  .found-invoice-email-button {
	@extend .button-primary;
	@extend .button-medium;
	// width: 100%;
  }
  .found-invoice-print-button-container {
	width: 100%;
	// padding-left: $sc-padding-lv1;
  }
  .found-invoice-print-button{
	@extend .found-invoice-email-button;
  }
  