/* Edited for Threads Theme */

.recently-viewed-items {
	position:relative;
	h3 {
		@extend .product-slider-title;
	}
	.bx-controls-direction{
		text-align:right;
		margin-bottom:$sc-margin-lv8;
	}
	.bx-wrapper{
		display:grid;
		place-items: center;
		max-width: 100% !important;
		// margin-left:8vw;
		.bx-pager{

			a {
			display: block;
			width:10px;
			height: 10px;
			border-radius:100%;
			opacity: 0.5;
			color: #FFFFFF !important;
			background-color: #FFFFFF !important;
			margin: 0 $sc-margin-lv1;
			border:2px solid $sc-color-primary !important;
			content-visibility:hidden !important;
			}

			a.active{
			opacity: 1;
			background-color: $sc-color-primary !important;
			}	

				}
		.bx-viewport{


			
		
		
		@media (min-width:$screen-sm-min ){ //$screen-md-min
				width: 79% !important;
				}
		@media (min-width:1500px){
			width: 1180px !important;
			}
		@media screen and (min-device-width:$screen-md-min) and (max-device-width: 1500px) { 
		width:885px !important;
		}
		@media screen and (min-device-width:$screen-sm-min) and (max-device-width: $screen-sm-max) { 
		width:590px !important;
		}
		// @media (min-width:$screen-sm-min){
		// 	width: 90% !important;
		// }
		

		}
	}

	img{
		@media(min-width: $screen-md-min){
		height:360px !important;
		}
		@media screen and (min-device-width:$screen-sm-min) and (max-device-width: $screen-sm-max) { 
		height:360px !important;
		}
		@media(max-width: $screen-xs-max){
			height: 280px;
		}
	}
}

ul.recently-viewed-row-cell li{
	display:inline-block;
}

.recently-viewed-cell-item-cell {
	padding: 0 3px;
	@media (min-width: $screen-sm-min) {
		padding: 0 6px;
	}

}
