.login-register-forgot-password{

	background-image:url(getThemeAssetsPath('img/login-bg.jpg'));
	margin-top: -10px;
    margin-bottom: -10px;
    padding: 10% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
	.login-register-forgot-password-form-input{
		width:100%;
		min-width:auto;
	}
}


.login-register-forgot-password-body{
	@extend .box-column;
	max-width: 320px;
    margin: auto;
	background-color:#fff;
	padding-left: $sc-padding-lv6;
	padding-right: $sc-padding-lv6;
}

.login-register-forgot-password-description{
	margin-top: $sc-margin-lv4;
}

.login-register-forgot-password-form{
	margin-top: $sc-margin-lv2;
	.global-views-message {
		margin-bottom: 0;
	}
}
.align-right{text-align:right;}
.login-register-forgot-password-form-controls-group{
	margin-top: $sc-margin-lv4;
}

.login-register-forgot-password-form-label {}

.login-register-forgot-password-form-required{
	@extend .input-required;
}

.login-register-forgot-password-form-input{
	@extend .input-large;
}

.login-register-forgot-password-submit{
	@extend .button-medium;
	@extend .button-secondary;
	padding: 15px 16px;
    text-transform: none;
    border-radius: 0;
}

.login-register-forgot-password-sign-in{
	display:inline-block;
	margin-top: $sc-margin-lv2;
}

.login-register-forgot-password-header{}
.login-register-forgot-password-header-title{}
.login-register-forgot-password-title{}
