.global-views-breadcrumb-item-active {
	@extend .breadcrumb-item-active;
}

.global-views-breadcrumb-item {
	@extend .breadcrumb-item;
}

.global-views-breadcrumb-divider {
	@extend .breadcrumb-divider;	
}

.global-views-breadcrumb {
	@extend .breadcrumb;	
	font-size:14px;
}

.global-views-breadcrumb-divider-icon {
	@extend .breadcrumb-divider-icon;
}
.global-views-breadcrumb-active-item-title{
	color: $sc-neutral-shade-0;
}
.global-views-breadcrumb-item-active{
	
		color: $sc-neutral-shade-0;
	
}
.global-views-breadcrumb-item{
	a{
		color: $sc-neutral-shade-0;
	}
}
.global-views-breadcrumb-divider{
	.global-views-breadcrumb-divider-icon{
		color: $sc-neutral-shade-0;
	}
}