 
// // Edited for Threads Theme

// .header-logo {
//     // text-align:left;
// 	display: inline-block;

// 	@media (max-width: $screen-xs-min) {
// 		// max-width: 100%;
// 	}

// 	@media (min-width: $screen-sm-min) {
// 		// width: 100%;
// 	}
// }

// .header-logo-image {
// 	width: auto;
// 	vertical-align: middle;
// }
// .header-logo-text{
// 	color: $sc-mc-color;
// 	text-transform: lowercase;
// 	@media(max-width: 481px){
// 		margin-top: $sc-margin-lv1;
// 		font-size: 1.50rem;
// 	}
// }
// .header-logo-sitename {}
 
// // Edited for Threads Theme

// .header-logo {
//     // text-align:left;
// 	display: inline-block;

// 	@media (max-width: $screen-xs-min) {
// 		// max-width: 100%;
// 	}

// 	@media (min-width: $screen-sm-min) {
// 		// width: 100%;
// 	}
// }

// .header-logo-image {
// 	width: auto;
// 	vertical-align: middle;
// }
// .header-logo-text{
// 	color: $sc-mc-color;
// 	text-transform: lowercase;
// 	@media(max-width: 481px){
// 		margin-top: $sc-margin-lv1;
// 		font-size: 1.50rem;
// 	}
// }
// .header-logo-sitename {}

// Edited for Threads Theme

.header-logo {
	// text-align:left;
display: inline-block;

@media (max-width: $screen-xs-min) {
	// max-width: 100%;
}

@media (min-width: $screen-sm-min) {
	// width: 100%;
}
}

.header-logo-image {
width: auto;
vertical-align: middle;
}
.header-logo-text{
color: $sc-mc-color;
text-transform: lowercase;
@media(max-width: 481px){
	margin-top: $sc-margin-lv1;
	font-size: 1.50rem;
}
}
.header-logo-sitename {}
