.login-register-forgot-password-body{

}
.login-register-forgot-password-header-title{
	@extend .login-register-title;
	float:none;
}


.login-register-forgot-password-form{
	margin-top: $sc-margin-lv2;
	margin-bottom:10%;
	.global-views-message {
		margin-bottom: 0;
	}
	.row{margin:0;}
	fieldset{
		background: #f4f4f4;
		border: 1px solid #ddd;
		padding: $sc-padding-lv4 $sc-padding-lv6;
		margin: $sc-margin-lv5 0;
		p.login-register-forgot-password-description{
			font-family:$sc-font-family-verdana;
			font-size:15px;
			line-height:21px;
			color:$sc-color-secondary;
			margin-bottom:$sc-margin-lv1;
			a{
				text-decoration:underline;
				&:hover{text-decoration:none;}
			}
		}
	}
	.submit-btn{float:right;margin:0;}
	.login-register-login-required{
		display:block;
		text-align:right;
		color: #f00;
		font-family:$sc-font-family-verdana;
		font-size:10px;
	}
}

.login-register-forgot-password-form-controls-group{
	margin-top: $sc-margin-lv4;
}



.login-register-forgot-password-form-required{
	@extend .input-required;
}

.login-register-forgot-password-form-input{
	@extend .input-large;
}

.login-register-forgot-password-submit{
	@extend .login-register-login-submit;
}

.login-register-forgot-password-sign-in{
	float:left;
	//margin-top: $sc-margin-lv2;
	font-size:12px;
	font-family:$sc-font-family-verdana;
	text-decoration:underline;
	&:hover{text-decoration:none;}
}



