/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.customaccountregistermodule-info-card {
    @extend .info-card;
}

.customaccountregistermodule-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}

.required{
	margin: 20px 0px;
}

.star{
	@extend .input-required;
}


.header-logo-image-login {
	width: auto;
	max-width: 250px !important;
	margin-top: 25px;
	margin-left: 50px;
	@media (max-width: $screen-xs-min){
		margin-left:10px;
	}
}

.request-account-container {
	background:	linear-gradient(0deg, rgba(81, 95, 116, 0.5),rgba(71, 83, 101, 0.5)) , url(getThemeAssetsPath('img/login-page-women.png'))  no-repeat scroll 0 0;
	background-color: rgba(48, 59, 76, 0.5);
	background-position: center;
	height: 100vh;
	color: #fff;

    // margin-top: 100px;
	@media (min-width: $screen-sm-min) {
		//height: 810px;
	}
	@media (max-width: $screen-xs-max) {
		background-position: center;
		//height: 1080px;
	}
    // background: url(getExtensionAssetsPath('images/login-page-women.png')) no-repeat scroll 0 0 ;
	//height: 830px;
	@media (min-width: $screen-sm-min) {
			// display: grid;
			// place-items: start;
			// justify-content: center;
	}
	@media (max-width: $screen-xs-max) {
		//background-position: top;
	}

	.header-logo-image-login{
		position: absolute;

	}

	
	// .header-content-logo-login {
	// 	text-align: center;
	// 	@media (min-width: $screen-md-min) {
	// 			text-align: left;
	// 	}
	// }

	//new changes 

	@media only screen and (min-width: 1200px) and (max-width: 2000px)  {
		background-size: contain;
		//height: 1080px;
	}
	@media (min-width: 2001px) {
		background-size: contain;
		//height: 1550px;
	}


	@media (max-width: 768px) {
		//height: 1300px !important;

	}
	@media (min-width: 992px) {
		//height: 1150px !important;
		background-size: contain !important;
		background-position: left;
	}
	@media (max-width: 1300px) {
		//height: 1370px !important;
		background-size: cover !important;
		background-position: top !important;
	}
	@media (max-width: 992px) {
		background-position: center;
	}



	label {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 14px;
		font-family: $sc-font-family;
		letter-spacing: 0;
		}
		input {
		padding: 0px;
		display: block;
		font-size: 14px;
		// border: 1px solid #303A4C ;
		width: 100%;
		margin-bottom: 10px;
		font-family: Archivo Narrow,sans-serif;
		}
		h2 {
			font-family: $sc-font-family-PTSans;
			font-size: 1.1rem;
		}
	


}

.request-account-form-container{
	margin: 0px 20px;
	@media (min-width: $screen-md-min) {
        position: absolute;
        left: 50%;
        // top: 30%;
		bottom: 10%;
        }
		@media (min-width: 1500px) {
			bottom: 20%;
			}
	
			@media (max-width:$screen-md-min){
				position: absolute;
				width: 100%;
				bottom: 10%;
				padding: 0px 10px;
				margin: 0px;
			}
}
.request-account-form-section{
	width: 400px;
    float: right;
    position: absolute;
    //top: 300px;
	// left: -10%;
    // right: 200px;
	bottom:10%;
    padding: 40px;
    background-color: $sc-color-primary;
    border-radius: 6px;

	@media (min-width: $screen-md-min) {
		position: initial;
	left: -10%;
	}
	@media (max-width: $screen-md-min) {
		position: relative;
		width: 100%;
		right:0px;
	}

	@media (min-width:1500px){
		width: 600px;
		min-height: 500px;
		// top: 300px;
    	// right: 400px;
	}

	// @media only screen and (min-width: 200px) and (max-width: 600px){
	// 	top: 400px !important;
	// }
	// @media only screen and (min-width: 600px) and (max-width: 992px){
	// 	top: 500px !important;
	// }
}
.back-to-login{
	@extend .button-medium;
	@extend .button-primary;
	margin-bottom: $sc-margin-lv2;
	color: $sc-color-secondary;
	background-color: $sc-neutral-shade-0;
	width: 100%;
	border-radius:10px;
	margin-top: 5px;
}
.submit-btn{
	width:100% !important;
	background-color: $sc-neutral-shade-0;
	color:$sc-color-secondary;
	border-radius: 10px;
}

.custom-register-register-form-input{
	color: $sc-neutral-shade-0;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $sc-neutral-shade-0;
	outline:0px;
}
.custom-register-register-form-submit{
	@extend .button-medium;
	@extend .button-primary;
	margin-bottom: $sc-margin-lv2;
	color: $sc-color-secondary;
	background-color: $sc-neutral-shade-0;
	width: 100%;
	border-radius:10px;
	margin-top: 5px;
}

.login-register-register-form{
label{
	color: $sc-neutral-shade-0;
}
small{
	color: $sc-neutral-shade-0;
}

.alert-danger{
	background-color: $sc-neutral-shade-0;
    //width: max-content;
    padding: 5px;
	margin-bottom: 10px;
}
}



// .login-register{
// 	background:	linear-gradient(0deg, rgba(81, 95, 116, 0.5),rgba(71, 83, 101, 0.5)) , url(getThemeAssetsPath('img/login-page-women.png'))  no-repeat scroll 0 0;
// 	background-color: rgba(48, 59, 76, 0.5);
// 	color: #fff;
// 	// margin-top: 100px;
// 	@media (min-width: $screen-sm-min) {
// 		height: 810px;
// 	}
// 	@media (max-width: $screen-xs-max) {
// 		background-position: center;
// 		height: 100vh;
// 	}
// 	@media (max-width: 2000px) {
// 		background-position: center;
// 		height: 1080px;
// 	}
// 	@media (min-width: 2001px) {
// 		background-position: center;
// 		height: 1550px;
// 	}
// }

.checkout-layout-header{
	margin-bottom: 0px !important;
}


