// Typography colors
$sc-color-h1: $sc-color-copy-dark; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h2: $sc-color-copy-dark; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h3: $sc-color-secondary; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h4: $sc-color-copy-dark; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h5: $sc-color-secondary; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h6: $sc-color-secondary; /* editable({"type": "color", "label": "Color"}) */
$sc-color-paragraph: $sc-color-copy;
$sc-color-blockquote: $sc-color-copy-light;




/******MOTHERCARE COLORS********/

$sc-mc-color : #2D5069;
$sc-mc-link-color: $sc-mc-color;
$sc-mc-link-hover-color: #375c72;
$sc-mc-link-active-color: #1a516a;
$sc-mc-classic-color: #272726;
$sc-mc-neutral-01-color: #505759 ;
$sc-mc-neutral-02-color: #D9D9D6;
$sc-mc-cool-grey-color: #D3D3D3;
$sc-mc-honest-color : #F2F1ED;
// $sc-mc-mint-green-pa-557 : #8AAA93;
$sc-mc-mint-green-pa-557 :#85B09A;
$sc-mc-pink-pa-502 :#DBB7BB;
// $sc-mc-pink-pa-502 : #DFB4B0;
$sc-mc-cream-pa-720 : #EBC49A;
// $sc-mc-light-orange-pa-129 : #F7B440;
$sc-mc-light-orange-pa-129 :#E7B78A;
$sc-mc-red-color:#D0021B;

$sc-mc-old-blue : #003971;
$sc-mc-cart-color : #51585A;
