.copyrights-content{
	@extend .container;
	.copyrights-heading{
		h1{
			text-align:center;
			margin:$sc-margin-lv4 0;
		}
		h3{
			font-family: $sc-font-family-candara;
			text-align:center;
		}
		p{
			margin:$sc-margin-lv2 0;
			text-align:center;
		}
	}
	.copyrights-content-row{
		@extend .row;
		margin:$sc-margin-lv6 5%;
		.col-4{
			@extend .col-md-4;
			@extend .col-sm-6;
			padding:$sc-margin-lv2;
			.col-container{
				padding:$sc-padding-lv6;
				border: 1px solid #d0d0d0;
				border-radius: 5px;
				min-height: 455px;
				max-width: 337px;
				margin: auto;
				position:relative;
				text-align:center;
				
				h4{
					font-family: $sc-font-family-candara;
					text-align:center;
					font-size:30px;
				}
				p{
					margin:$sc-margin-lv3 0;
					text-align:justify;
					height: 105px;
					overflow-y: auto;
				}
				.primary-btn{
					text-align:center;
					position: absolute;
					width: 100%;
					bottom: 30px;
					left: 0;
					a{
						@extend .button-primary;
						@extend .button-medium;
						font-size: 18px;
						padding: $sc-padding-lv1 $sc-padding-lv3;
						font-family: $sc-font-family;
						font-weight: $sc-font-weight-bold;
						width:auto;
					}
				}
			}
		}
	}
	.copyrights-content-faq-heading{
		border-top: 2px solid #d0d0d0;
		h2{
		font-size:45px;
		line-height:60px;
		margin:$sc-margin-lv4 0;
		text-align:center;
		}
	}
	.copyrights-content-faq{
		border: 1px solid #d0d0d0;
		border-radius: 5px;
		padding: 0 $sc-padding-lv6 $sc-padding-lv6 $sc-padding-lv6;
		h4{
			font-family: "Candara", sans-serif;
			margin-top:$sc-margin-lv6;
		}
		p{
			margin-top:$sc-margin-lv1;
			a{
				text-decoration:underline;
				&:hover{text-decoration:none;}
			}
		}
	}
	.copyrights-content-questions{
		margin: $sc-margin-lv8 0 10% 0;
		h2{text-align:center;}
		p{
			text-align:center;
			margin-top:$sc-margin-lv3;
			a{
				text-decoration:underline;
				&:hover{text-decoration:none;}
			}
		}
	}
}